<!DOCTYPE html>
<html>
<head>
    <title>Ball Park Tracker</title>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css" />
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <!-- Add a reference to the Azure Maps Services Module JavaScript file. -->
    <script src="https://atlas.microsoft.com/sdk/javascript/service/2/atlas-service.min.js"></script>

    <!-- Add references to the store locator JavaScript and CSS files. -->
    <link rel="stylesheet" href="main.css" type="text/css" />
    <script src="map.js"></script>

    <script>
        var AZURE_MAPS_KEY = "<%- AZURE_MAPS_KEY %>";
        if (AZURE_MAPS_KEY === "[YOUR KEY HERE]") {
            AZURE_MAPS_KEY = window.prompt("Please input an Azure Maps authentication key.\nOr set the AZURE_MAPS_KEY environment variable in '~/.env' to persist this setting.");
        }
    </script>
</head>
<body>
    <header>
        <img src="images/Logo.png" />
        <span>Ball Park Tracker</span>
    </header>
    <main>
        <div class="searchPanel">
            <div>
                <input id="searchTbx" type="search" placeholder="Find a park" />
                <button id="searchBtn" title="Search"></button>
            </div>
        </div>

        <div id="listPanel"></div>

        <div id="myMap"></div>

        <button id="myLocationBtn" title="My Location"></button>
    </main>
</body>
</html>